//
// Glyphicons for Bootstrap
//
// Since icons are fonts, they can be placed anywhere text is placed and are
// thus automatically sized to match the surrounding child. To use, create an
// inline element with the appropriate classes, like so:
//
// <a href="#"><span class="glyphicon glyphicon-star"></span> Star</a>

// Import the fonts
@font-face {
	font-family: 'copperplate_gothic_lightRg';
	src: url('../fonts/coprgtl.eot');
	src: url('../fonts/coprgtl.eot?#iefix') format('embedded-opentype'),
	url('../fonts/coprgtl.woff2') format('woff2'),
	url('../fonts/coprgtl.woff') format('woff'),
	url('../fonts/coprgtl.ttf') format('truetype'),
	url('../fonts/coprgtl.svg#copperplate_gothic_lightRg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'copperplate_gothic_boldRg';
	src: url('../fonts/coprgtb.eot');
	src: url('../fonts/coprgtb.eot?#iefix') format('embedded-opentype'),
	url('../fonts/coprgtb.woff2') format('woff2'),
	url('../fonts/coprgtb.woff') format('woff'),
	url('../fonts/coprgtb.ttf') format('truetype'),
	url('../fonts/coprgtb.svg#copperplate_gothic_boldRg') format('svg');
	font-weight: normal;
	font-style: normal;

}

