@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, 'Battambang', Arial, sans-serif;

.copper {
	font-family: copperplate_gothic_boldRg;
}

.copperlg {
	font-family: copperplate_gothic_lightRg;
}

form {
  .form-control {
    border-radius: 0;
  }
  .btn {
    border-radius: 0;
  }
}

.require.red {
  border: 1px solid #f00;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border: 1px solid #000;
}
.table-bordered {
  border: 1px solid #000;
}

body, label, .checkbox label {
  font-weight: 300;
  font-family: @font-family-sans-serif;
}

#mainContain {
  .header_image {
	  margin-bottom: 45px;
    img {
      width: 100%;
    }
  }
  .form-inline .form-control {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  select.form-control {
    border-radius: 0;
  }

  .invoice-container {
	  min-height: 746px;
    table {
      border-bottom: 0;
      border-left: 0;
	  margin: 0;
      th {
        text-align: center;
      }
      td.text-left {
        text-align: left;
      }
      td {
	      padding: 7px;
        i {
          visibility: hidden;
          float: right;
	      padding: 2px;
        }
        i:hover {
          cursor: pointer;
        }
      }
      td:hover {
        i {
          visibility: visible;
        }
      }
      td.no-border {
        border: none;
      }
	  td.deposit {
		  padding: 0;
	  }
	  td.total, #deposit, .grand-total {
		  padding-right: 25px;
	  }
    input {
	    border: none;
	    width: 100%;
    }

	tfoot {
		tr {
			height: 36px;
		}
		td {
			padding: 0;
			vertical-align: middle;
		}
	}
    }
  }

	.invoice-header {
		margin-top: 40px;
	}
}

.container {
  width: 800px;
}

.description {
  width: 55%
}

.quantity {
  width: 11%;
}
.unitprice {
  width: 15%;
}

.currency select{
  padding-left: 2px;
  padding-right: 2px;
}

.hidden-print .form-inline .btn {
  width: 8.7%;
}

.right {
  float: right;
	.createInvoice {
		margin-bottom: 15px;
	}
}

body, label, .checkbox label {
  font-weight: 300;
}

table.customer, table.invoice {
	width: 100%;
	font-weight: 600;
	input {
		width: 90%;
		border: none;
		background: transparent;
	}

	.invoice_id {
		font-size:22px;
		color: #d9534f;
	}
}

h2.title {
	font-size: 27px;
	font-family: 'Moul', cursive;
}

h2 {
  font-size: 33px;
}
.invoice {
	position: absolute;
	left: 0;
	right: 0;
	h2 {
		margin: 0;
	}
}

#deposit {
	box-shadow: none;
	border: 0;
}
.numbering {
  text-align: center;
}

footer {
  p {
    margin:0;
  }

}